.magic-list {
  font-size: calc(var(--index) * 2.5);
  padding: calc(var(--index) * 2.5);
  .item {
    cursor: none;
    color: var(--black);
    text-decoration: none;
    line-height: .9;
    display: block;
    padding: calc(var(--index) * 3) calc(var(--index) * 7.5);
    border-bottom: 1px solid rgb(0 0 0 / .09);
    counter-increment: my-counter;
    &:last-child {
      border-bottom: none;
    }
    &:before {
      content: '(0' counter(my-counter) ')';
      position: absolute;
      font-size: calc(var(--index) * .95);
      margin-left: calc(var(--index) * -2.25);
      margin-top: calc(var(--index) / 2.25);
      letter-spacing: .5px;
    }
    .header {
      width: min-content;
    }
    .cursor {
      .image {}
    }
  }
}